@import url('../../.cache/wal/colors-waybar.css');
window#waybar{
    all:unset;
}
* {
    font-size: 15px;
    font-family: "CodeNewRoman Nerd Font Propo";
}
.modules-left {
}
.modules-center {
}
.modules-right {
}

#custom-notification,
#clock,
#tray,
#taskbar,
#workspaces,
#bluetooth,
#network,
#custom-ip,
#sound,
#extras{
    padding: 0px 15px 0px 15px;
    border-radius: 5px;
    min-height: 31px;
    color:@foreground;
    transition: all .3s ease;
}

#custom-notification,
#clock,
#tray,
#taskbar{
    margin: 10px 0px 5px 10px;
    background: linear-gradient(to right, alpha(@background,0.5), alpha(@background,0.7));
    border: 2px solid @color1;
}
#workspaces {
    margin: 10px 0px 5px 0px;
    background: linear-gradient(to right, alpha(@background,0.8), alpha(@background,0.7));
    border: 2px solid @color1;
}
#bluetooth,
#network,
#custom-ip,
#sound,
#extras {
    margin: 10px 10px 5px 0px;
    background: linear-gradient(to right, alpha(@background,0.7), alpha(@background,0.5));
    border: 2px solid @color1;
}


#cpu,#memory,#temperature,#custom-colorpicker{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@foreground;
}

#tooltip {
    background: alpha(@background,0.8);
    color: @foreground;
}

#clock:hover, 
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#pulseaudio:hover,
#custom-colorpicker:hover,
#cava:hover,
#sound:hover,
#extras:hover
{
    transition: all .3s ease;
    color:@color1;
    border-color: @color1;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@color2,.6);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:@color1;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: @color2;
    border: none;
}
#workspaces button.empty {
    color: alpha(black, .2);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: @color2;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @color2;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#taskbar {
    padding: 0 10 0 10;
}
#taskbar button {
    transition: all .3s ease;
    padding: 0px 5px;
}
#taskbar.empty {
    opacity: 0;
}
#cava {
    font-family: "bargraph";
    color: @color2;
}